.panel-heading{
    padding: 2px 10px;
}
.btn{
    margin-left: 5px;
}
.col-name-label{
    margin-top: 5px;
}
.ng-invalid:not(form) {
  border: 1px solid #a94442;
}
.dashboard-container{
    margin-top: 10px;
}
.bottom-margin{
    margin-bottom: 5px;
}