<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20190122/9fde9ea1dbd67bcc36f8fd0be039102df0a8efcf87f8f7b1397ed7753fed8322.jpg?x-oss-process=image/resize,w_120,limit_0" alt="eBayLOGO" class="fl"> -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" ariap-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">eBay Cloud Resource Platform</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li routerLinkActive="active"><a routerLink="dashboard">Dashboard administration</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li>Welcome Will</li>
      </ul>
    </div>
  </div>
  
</nav>





<router-outlet></router-outlet>